<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Date source config -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/helpwin</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">DEBUG</property>
        <property name="hibernate.format_sql">true</property>

        <property name="connection.pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping -->
        <mapping class="org.feup.lgp2d.helpwin.models.Role"/>
        <mapping class="org.feup.lgp2d.helpwin.models.User"/>
        <mapping class="org.feup.lgp2d.helpwin.models.Institution"/>

    </session-factory>
</hibernate-configuration>