<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Date source config -->
        <property name="hibernate.connection.driver_class">${dbdriver}</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:${dbport}/${dbname}</property>
        <property name="hibernate.connection.username">${dbuser}</property>
        <property name="hibernate.connection.password">${dbpass}</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!--C3P0 connection settings-->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>


        <!-- Mapping -->
        <mapping class="org.feup.lgp2d.helpwin.models.Role"/>
        <mapping class="org.feup.lgp2d.helpwin.models.User"/>
        <mapping class="org.feup.lgp2d.helpwin.models.Voucher"/>
        <mapping class="org.feup.lgp2d.helpwin.models.Action"/>
        <mapping class="org.feup.lgp2d.helpwin.models.Voucher"/>
        <mapping class="org.feup.lgp2d.helpwin.models.UserAction"/>
        <mapping class="org.feup.lgp2d.helpwin.models.UserActionId"/>
        <mapping class="org.feup.lgp2d.helpwin.models.EvaluationStatus"/>
    </session-factory>
</hibernate-configuration>